div{
    height: 50px;
     width: 600px; 
    background-color: burlywood;

    /* border-width: 15px;
    border-style: solid;
    border-color: blue; */

    border: 5px solid pink;
    text-align: center;
}

h1{
    width: 150px;
    height: 50px;
    background-color: burlywood;

    /* border-width: 5px;
    border-style: dashed;
    background-color: brown; */
    border: 5px solid pink;
    text-align: center;
}