div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 5px solid black;
    display: inline-block;
}
#box1{
    background-image: url("girl.jpg");
    background-size: cover;
}
#box2{
    background-image: url("girl2.jpg");
    background-size: cover;
}
#box3{
    background-image: url("men.jpg");
    background-size: cover;
}
#box4{
    background-image: url("men2.jpg");
    background-size: cover;
}
#box5{
    background-image: url("girl.jpg");
    background-size: cover;
}

body{
    background-image: url("moses-malik-roldan.jpg");
    background-size: cover;
}