div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 2s;
    
}

div:hover{
    background-color: red;
    color: white;
}

div:active{
    background-color: pink;
}